{%extends "base.html"%}


{%block content%}
<div class = "log_in">
<h1>Inicia Sesión</h1>
<p> o <a href="{%url 'AdmonCuentas:login'%}">crea una cuenta</a></p>

{%if error%}
<div class="alert">
  <span class="closebtn">&times;</span>
  <strong>¡Pilas!</strong> {{error}}
</div>
{%endif%}

<form class ="site-form" action="/AdmonCuentas/signup/" method="post">
	{% csrf_token %}
	{% for field in sgForm %}
      <p class ="c1">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	{% for field in prForm %}
      <p class ="c1">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	<input type="Submit" value="Sign Up">
</form>
</div>

{%endblock content%}
