{%extends "baseApp.html"%}
{%load staticfiles%}
{%block content%}

{%if mensaje%}
<div class="alert success">
  <span class="closebtn">&times;</span>  
  <strong>¡Exito!</strong> {{mensaje}}
</div>
{%endif%}

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>


<h3>Conductor</h3>
<div style ="overflow-x:auto;">
<table id="t01">
  <tr>
    <th>Hora</th>
	<th>Fecha</th>
    <th>Conductor</th> 
    <th>Cupos</th>
	<th>Origen</th>
	<th>Destino</th>
	<th>Vehiculo</th>
	<th>Tarifa</th>
	<th>Ver Mapa</th>
	<th>Modificar</th>
	<th>Eliminar</th>
  </tr>
  {%for item in viajes%}
   <tr>
    <td>{{item.hora}}</td>
	<td>{{item.fecha}}</td>
    <td>{{item.conductor.usuario.first_name}} {{item.conductor.usuario.last_name}}</td> 
    <td>{{item.puestos_d}}</td>
	<td>{{item.ruta.inicio}}</td>
	<td>{{item.ruta.fin}}</td>
	<td>{{item.vehiculo}}</td>
	<td>{{item.tarifa}}</td>
	<td style="text-align:center;">
		<form action="{%url 'aplicacion:aplicacion_home'%}" method="post">
			{% csrf_token %}
			<input type="hidden" name="origen" value="{{item.ruta.inicio }}">
			<input type="hidden" name="fin" value="{{item.ruta.fin }}">
			<input type="submit" value="Ver Mapa" class="btn btn-primary">
		</form>
	</td>
	<td style="text-align:center;">
		<form action="{%url 'aplicacion:editarViaje'%}" method="get">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{item.id}}">
			<input type="submit" value="Modificar" class="btn btn-primary">
		</form>
	</td>
	<td style="text-align:center;">
		<form action="{%url 'aplicacion:eliminarViaje'%}" method="post">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{item.id}}">
			<input type="submit" value="Eliminar" class="btn btn-primary">
		</form>
	</td>
  </tr>
  {%endfor%}
</table>
</div>
<form action="{%url 'aplicacion:crearViaje'%}" method="get">
	{% csrf_token %}
	<button type="submit" formmethod="get">Crear Viaje</button>
</form>


<h3>Reservas</h3>
<div style ="overflow-x:auto;">
<table id="t01">
  <tr>
    <th>Hora</th>
	<th>Fecha</th>
    <th>Pasajero</th> 
    <th>Cupos</th>
	<th>Contacto</th>
	<th>Accion</th>
  </tr>
  {%for item in reservas%}
   <tr>
    <td>{{item.viaje.hora}}</td>
	<td>{{item.viaje.fecha}}</td>
    <td>{{item.pasajero.usuario.first_name}} {{item.pasajero.usuario.last_name}}</td> 
    <td>{{item.cantidadPuestos}}</td>
	{%if movil%}
	<td ><a href="https://api.whatsapp.com/send?phone=57{{item.pasajero.celular}}" target="_blank">{{item.pasajero.celular}}</a></td>
	{%else%}
	<td ><a href="https://web.whatsapp.com/send?phone=57{{item.pasajero.celular}}" target="_blank">{{item.pasajero.celular}}</a></td>
	{%endif%}
	<td style="text-align:center;">
		<form action="{%url 'aplicacion:eliminarReserva'%}" method="post">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{item.id}}">
			<input type="submit" value="Eliminar" class="btn btn-primary">
		</form>
	</td>
  </tr>
  {%endfor%}
</table>
</div>

{%endblock content%}