{%extends "baseApp.html"%}

{%block content%}

<p>Formulario para Editar el Viaje</p>

{%if error%}
<div class="alert">
  <span class="closebtn">&times;</span>  
  <strong>¡Pilas!</strong> {{error}}
</div>
{%endif%}

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>

<p>Editando el viaje {{id}}</p>
<form class ="site-form" action="{%url 'Viajes:editarViaje'%}" method="post">
	{% csrf_token %}
		{% for field in rtForm %}
      <p class ="c1">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	{% for field in nvForm %}
      <p class ="c1">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	<input type="hidden" name="id" value="{{id}}">
	<input type="Submit" value="Editar Viaje">
</form>
{%endblock content%}