{%extends "baseApp.html"%}

{%block content%}

<p>Formulario para Registrar Vehiculo</p>

{%if error%}
<div class="alert info">
  <span class="closebtn">&times;</span>  
  <strong>¡Pilas!</strong> {{error}}
</div>
{%endif%}


<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>

<form class ="site-form" action="{%url 'aplicacion:registro_vehiculo'%}" method="post">
	{% csrf_token %}
	{% for field in rvForm %}
      <p class ="c1">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	<input type="Submit" value="Guardar Vehiculo">.
</form>
{%endblock content%}