body {
    margin: 0;
    background: #E7E7E7;
    font-family: 'Andale Mono', monospace;
    font-weight: 300;
}

.menu_bar {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
}

header {
    position: relative;
    margin: 0;
    background: #B0AEAE;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.menu {
    width: 100%;
    align-content: center;
}

h1 {
    float: left;
    margin-top: 20px;
    margin-bottom: 1px;
    margin-left: 25px;
    font-size: 180%;
}

p {
    margin-top: 35px;
    margin-left: 25px;
    font-size: 16px;
}



nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 35px;
    padding-top: 35px;
    padding-bottom: 10px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #444;
    font-weight: 300;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #D51310;

    position: absolute;
    top: 0px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


  


.buttons {
    position: absolute;
    top: 85%;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 35%;
    box-sizing: border-box;
    border-radius: 12px 12px 12px 12px;
}



.b_back {
    border: 3px solid #444;
    background: none;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    margin: 3px;
    color: #444;
    border-radius: 12px 12px 12px 12px;
    transition: all 0.1s ease 0s;
}


 select {
    background: transparent;
    border: none;
    font-size: 11px;
    height: 35px;
    padding: 10px;
    width: 48%;
 }
 select:focus{ outline: none;}

 .image_container {
    position: absolute;
    display: inline-block;
    background-image: url('img/image2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width:1440px; 
    height:600px;
    background-size: 100%;
    
  }

@media screen and (max-width: 350px) {
    nav li {
        display: inline-block;
        margin-left: 6%;
        margin-right: 3%;
        position: relative;
        align-content: center;
        top: 0;
    }
    
    .menu_bar {
        display: inline-block;
        width: 100%;
    }

    nav {
        width: 100%;
        align-content: center;
    }



    .b_back {
        top: 75%;
        right: 50%;

        padding: 5% 8%;
        font-size: 80%;
        display: inline-block;
        width: 100%;
    }



    select {
        width:100%;
    }

    .image_container {
        width: 100%;
        height: 180px;
    }
}

@media screen and (max-width: 400px) and (min-width: 351px) {
    nav li {
        display: inline-block;
        margin-left: 7.5%;
        margin-right: 3%;
        position: relative;
        align-content: center;
        top: 0;
    }
    
    .menu_bar {
        display: inline-block;
        width: 100%;

    }

    nav {
        width: 100%;
        align-content: center;
    }

    .b_back {
        top: 76%;
        right: 50%;

        padding: 5% 8%;
        display: inline-block;
        width: 100%;
    }



    select {
        width:100%;
    }

    .image_container {
        width: 100%;
        height: 180px;
    }

    
}

@media screen and (min-width: 401px) and (max-width: 700px) {
    nav li {
        display: inline-block;
        margin-left: 10%;
        margin-right: 8px;
        position: relative;
        align-content: center;
        top: 0;
    }
    
    .menu_bar {
        display: inline-block;
        width: 100%;

    }

    nav {
        width: 100%;
        align-content: center;
    }


    .b_back {
        top: 75%;
        right: 50%;

        padding: 5% 8%;
        display: inline-block;
        width: 100%;
    }


    .signup_form {
        display: inline-block;
        margin-top: 0.5%;
        padding: 10px;
        margin-left: 2%;
    }


    select {
        width:100%;
    }

    .image_container {
        width: 100%;
        height: 180px;
    }
}

@media screen and (min-width: 701px){
    .b_back {
        position: absolute;
        right: 10%;
        top: 25%;
    }

}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}

#map {
        height: 80%;
      }
html, body {
        height: 80%;
        margin: 0;
        padding: 0;
		padding-bottom: 50px;
}

