{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
	<script type="text/javascript" src="{% static 'js/closeBtn.js' %}"></script>
    <title>TOP SEAT - App</title>
  </head>
  <body>
  <meta charset="UTF-8" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<header>
	<div class ="menu_bar">
		<div class ="logo">
			<h1>Top Seat</h1>
		</div>
		<div class="menu">
		<nav>
	  <ul class="side-nav">
		<li >
		  <a href="{%url 'Viajes:Viajes_home'%}">Inicio</a>
		</li>
		<li>
		  <a href="{%url 'Informativo:Novedades'%}">Blog</a>
		</li>
		<li>
		  <a href="{%url 'Informativo:FAQ'%}">FAQ</a>
		</li>
		<li class="dropdown">
		  <a href="javascript:void(0)" class="dropbtn">Quejas, Sugerencias o Fallas</a>
		  <div class="dropdown-content">
			<form action="{%url 'Eventos:Crear_Queja'%}" method="get">{% csrf_token %} 
			<a href="javascript:;" onclick="parentNode.submit();">Reporte un Queja</a> 
			<input type="hidden" name="Queja" value="Queja" /></form>
			<form action="{%url 'Eventos:Crear_Sugerencia'%}" method="get">{% csrf_token %} 
			<a href="javascript:;" onclick="parentNode.submit();">Denos un Sugerencia</a> 
			<input type="hidden" name="Sugerencia" value="Sugerencia" /></form>
			<form action="{%url 'Eventos:Crear_Falla' %}" method="get">{% csrf_token %} 
			<a href="javascript:;" onclick="parentNode.submit();">Reporte una Falla</a> 
			<input type="hidden" name="Falla" value="Falla" /></form>
		  </div>
		</li>
		<li class="dropdown">
		  <a href="javascript:void(0)" class="dropbtn">
			Bienvenido, {{rol}} {{usuario}}
			{%if img%}
				<img class="circular--square" src="../../../{{img.url}}" style="width:40px;height:40px;">
			{%endif%}</a>
		  <div class="dropdown-content">	
			<form action="{%url 'AdmonCuentas:editar_perfil'%}" method="get">{% csrf_token %} 
			<a href="javascript:;" onclick="parentNode.submit();">Editar Perfil</a> 
			<input type="hidden" name="changeR" value="Cambiar Rol" /></form>
			<form action="{%url 'AdmonCuentas:cambiar'%}" method="post">{% csrf_token %} 
			<a href="javascript:;" onclick="parentNode.submit();">Cambiar Rol</a> 
			<input type="hidden" name="changeR" value="Cambiar Rol" /></form>
			{%if rol == 'Conductor'%}
			<form action="{%url 'AdmonCuentas:registro_vehiculo'%}" method="get">{% csrf_token %} 
			<a href="javascript:;" onclick="parentNode.submit();">Registrar Vehiculo</a> 
			<input type="hidden" name="changeR" value="Cambiar Rol" /></form>
			<form action="{%url 'AdmonCuentas:eliminarVehiculo'%}" method="get">{% csrf_token %} 
			<a href="javascript:;" onclick="parentNode.submit();">Eliminar Vehiculo</a> 
			<input type="hidden" name="changeR" value="Cambiar Rol" /></form>
			{%endif%}
			<form action="{%url 'AdmonCuentas:ReporteViajes' %}" method="get">{% csrf_token %} 
			<a href="javascript:;" onclick="parentNode.submit();">Historial De Viajes</a> 
			<input type="hidden" name="Historial" value="Historial" /></form>
			<form action="{%url 'AdmonCuentas:logout' %}" method="post">{% csrf_token %} 
			<a href="javascript:;" onclick="parentNode.submit();">Cerrar Sesion</a> 
			<input type="hidden" name="cerrar" value="Cerrar Sesion" /></form>
		  </div>
		</li>
	  </ul>
	  </nav>
	</div>
</div>
</header>
	
  {% block content %} {% endblock content %}</body>
</html>
