{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TOP SEAT</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	
	<!--<ul class="top">
    <li class="top">
      <a href="{%url 'home'%}">Inicio</a>
    </li>
    <li class="top">
      <a href="#Blog">Blog</a>
    </li>
    <li class="top">
      <a href="#Faq">Faq</a>
    </li>
    <li style="float:right" class="dropdown">
		<a href ="{%url 'cuentas:signup'%}">Registro</a>
    </li>
	<li style="float:right" class="dropdown">
		<a href ="{%url 'cuentas:login'%}">Ingreso</a>
    </li>
  </ul>-->
	<header>   
		<div class ="menu_bar">
			<div class ="logo">
				<h1>Top Seat</h1>
			</div>
			<div class="menu">
				<nav>
					<ul class="side-nav">
						<li><a href="{%url 'home'%}">Inicio</a></li>
						<li><a href="#faq">FAQ</a></li>
						<li><a href="{%url 'cuentas:login'%}">Iniciar Sesion</a></li>
						<li><a href="{%url 'cuentas:signup'%}">Registro</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

    {% block content %}
	{% endblock content %}
</body>
</html>