{%extends "base.html"%}

{%block content%}

<p>Formulario para login</p>

{%if error%}
<div class="alert">
  <span class="closebtn">&times;</span>  
  <strong>¡Pilas!</strong> {{error}}
</div>
{%endif%}
<form class ="site-form" action="{%url 'cuentas:login'%}" method="post">
	{% csrf_token %}
	{% for field in lgForm %}
      <p class ="c1">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	{% if request.GET.next%}
		<input type="hidden" name="next" value="{{request.GET.next}}">
	{%endif%}
	<input type="Submit" value="Login">.
</form>

<form class ="site-form" action="{%url 'cuentas:signup'%}" method="get">
	{% csrf_token %}
	<input type="Submit" value="Registro">.
</form>
{%endblock content%}